<div class="sidebar" [ngStyle]="{'left': collapse ? '-280px !important' : '0px !important'}">
    <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" routerLink="{{imageHomeLink}}">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img src="{{logoImageLink}}" style="width: 45px;margin-top: 10px; margin-left: 12px;" alt="">
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">{{appname}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer" style="margin-left: 15px">
                    <div class="mobile-toggle sidebar-toggle">
                      <i (click)="toggleBar()" class="ti-arrow-circle-left"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
            <sidebar-element *ngFor="let link of links"
                             [icon]="link.icon"
                             [color]="link.color"
                             [name]="link.name"
                             [href]="link.href"
                             [children]="link.children"
            ></sidebar-element>
        </ul>
    </div>
</div>
